<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:name=".CommonsApplication">
        <activity
            android:name=".activity.UseCameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SetLanguageActivity" />
        <activity android:name=".activity.FindPasswordActivity" />
        <activity android:name=".activity.ResetPassWordActivity" />
        <activity android:name=".activity.CustomFullScanActivity"/>

    </application>
</manifest>